@{
    ViewBag.Title = "Home Page";
}

<style>
    .img{
        display:flex;
        align-items:center;
        justify-content:center;
        align-content:center;
        margin:auto;
        width:600px;
        object-fit:cover;
        opacity:0.5;
    }
</style>

<div class="jumbotron">
    <h1>Welcome to ELKA App</h1>
    <p class="tempData" style="display:none">@TempData["name"]</p>

    <hr />
    <img src="~/Content/img/Logo.png"  class="img card-img-overlay"/>
</div>


<script>
    window.addEventListener('load', () => {
        let userID = document.querySelector('.tempData').innerHTML;
        localStorage.setItem("userID", userID);
    })
</script>