@*@model ElkaApp.Models.User*@
@{
    ViewBag.Title = "Index";
}
<style>
    .user {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .pic {
        width: 140px;
        height: 140px;
        border: 2px solid #b7bac7;
        padding: 20px;
        border-radius: 20px;
        margin-bottom: 5px;
    }

        .pic img {
            width: 100px;
            height: 100px;
            border-radius: 50px;
        }

    .grid-container {
        margin-top: 20px;
        display: grid;
        grid-template-columns: auto auto;
        /*gap: 20px;*/
    }

    .grid-item {
        display: flex;
        align-items: center;
    }

    input {
        padding: 15px;
        width: 250px;
        border-radius: 25px;
        border: 2px solid #b7bac7;
        font-size: medium;
    }

        input:focus {
            outline: none;
            border-color: #69adf0;
        }

    label {
        font-weight: bold;
        margin-right: 10px;
    }

    .btnUser {
      
        padding: 15px;
        width: 250px;
        border-radius: 25px;
        background-color: #176AE7;
        color: white;
        border: none;
    }

    .birthdate {
        text-transform: uppercase;
    }

    .imagePreview {
        width: 100px;
        height: 100px;
        background-size: cover;
        background-position: center center;
        display: inline-block;
        background-repeat: no-repeat;
        border: none;
    }

    .form-input input {
        display: none;
    }

    .form-input label {
        font-size: small;
        background-color: #176AE7;
        color: white;
        width: 110px;
        font-weight: 200;
        text-align: center;
        margin: auto;
        border-radius: 10px;
        padding: 3px;
        cursor: pointer;
    }
</style>
<div class="user">
    <p class="temp"></p>
    @*@Html.HiddenFor(m => m.UserID);*@

    <h1>PROFILE INFORMATION</h1>
    <div class="pic">
        <div class="imagePreview">
            <img id="file-ip-1-preview">
        </div>
    </div>
    <div class="form-input">
        <label for="file-ip-1">UPLOAD IMAGE</label>
        <input type="file" id="file-ip-1" accept="image/*" onchange="showPreview(event);">
    </div>
    <form class="grid-container" method="post" action="">
        <div class="grid-item">
            <label for="name">NAME*</label>
            <input type="text" class="name" />
        </div>
        <div class="grid-item">
            <label for="lastName">LAST NAME*</label>
            <input type="text" class="lastName" />
        </div>
        <div class="grid-item">
            <label for="birthdate">BIRTHDATE*</label>
            <input type="date" class="birthdate" />
        </div>
        <div class="grid-item">
            <label for="street">STREET*</label>
            <input type="text" class="street" />
        </div>
        <div class="grid-item">
            <label for="city">CITY*</label>
            <input type="text" class="city" />
        </div>
        <div class="grid-item">
            <label for="phone">PHONE*</label>
            <input type="number" class="phone" />
        </div>
        <div class="grid-item">
            <label for="email">EMAIL*</label>
            <input type="email" class="email" />
        </div>
        <div class="grid-item">
            <label for="profession">PROFESSION*</label>
            <input type="text" class="profession" />
        </div>
        <p id="par"></p>
    </form>
    <button class="btnUser" value="SAVE">SAVE</button>
</div>

@*@Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)*@


<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<script>

    function showPreview(event) {
        if (event.target.files.length > 0) {
            var src = URL.createObjectURL(event.target.files[0]);
            var preview = document.getElementById("file-ip-1-preview");
            preview.src = src;
            preview.style.display = "block";

        }
    }


    var picture = null;
    let data = localStorage.getItem('userID');
    const btn = document.querySelector('.btnUser');

    const name = document.querySelector('.name');
    const lastName = document.querySelector('.lastName');
    const birthdate = document.querySelector('.birthdate');
    const street = document.querySelector('.street');
    const city = document.querySelector('.city');
    const phone = document.querySelector('.phone');
    const email = document.querySelector('.email');
    const profession = document.querySelector('.profession');
    var preview = document.getElementById("file-ip-1-preview");

    function showPreview(event) {
        if (event.target.files.length > 0) {
            picture = event.target.files[0];
            var url = URL.createObjectURL(event.target.files[0]);
            preview.src = url;
            preview.style.display = "block";
        }
    }

    $.ajax({
        type: "GET",
        url: "/User/GetData/" + data,
        dataType: "json",
        success: function (rez) {

            var result = rez.Fullname.trim().split(/\s+/);
            name.value = result[0];
            lastName.value = result[1];
            birthdate.value = rez.Birthdate;
            street.value = rez.Street;
            city.value = rez.City;
            phone.value = rez.Phone;
            email.value = rez.Email;
            profession.value = rez.Profession;
            if (rez.FilePath != "") {
                preview.src = rez.FilePath;
                preview.style.display = "block";
            }

        },
        error: (err) => {
            console.log("err");
            console.log(err)
        }
    });
   
    btn.addEventListener('click', () => {
        if (email.value.match(/^(([^<>()[\]\\.,;:\s@@\"]+(\.[^<>()[\]\\.,;:\s@@\"]+)*)|(\".+\"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/)) {
            let fullname = name.value + " " + lastName.value;
            //const dataSend = {
            //    fullname: fullname,
            //    birthdate: birthdate.value,
            //    street: street.value,
            //    city: city.value,
            //    phone: phone.value,
            //    email: email.value,
            //    profession: profession.value,
            //    Id: data,
            //}
            var formData = new FormData();
            formData.append("fullname", fullname);
            formData.append("birthdate", birthdate.value);
            formData.append("street", street.value);
            formData.append("city", city.value);
            formData.append("phone", phone.value);
            formData.append("email", email.value);
            formData.append("profession", profession.value);
            formData.append("Id", data);
           
            formData.append("picture", picture);
            console.log(picture);
            $.ajax({
                type: "post",
                url: "/User/UpdateData",
                data: formData,
                processData: false,
                contentType: false,
                cache: false,
                enctype: 'multipart/form-data',
                success: (s) => {

                    toastr.success(data.message, 'Data has been updated!');
                    setTimeout(function () {
                        window.location.reload();
                    }, 2000)


                },
                error: (data) => {
                    console.log("errr")
                    toastr.error(data.message, 'Data has not been updated!')
                }
            });


        }
        else {
            toastr.error(data.message, 'Email is invalid!', { timeOut: 3000 })
        }
       

    });



</script>
